.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 880px;
	margin: 0 auto;
	padding: 16px;
	position: relative;
}

header img {
	max-width: 200px;
	height: auto;
}

header ul {
	display: flex;
	list-style: none;
	gap: 24px;
	margin: 0;
}

header ul li a {
	text-decoration: none;
	color: var(--s-black);
	font-size: 18px;
	text-transform: uppercase;
	font-family: var(--karla);
	font-weight: 700;
	transition: color 0.2s ease-in-out;
}

header svg {
	display: none;
}

header ul li a:hover {
	color: var(--s-orange);
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	overflow: clip;
}

.menu {
	position: absolute;
	width: fit-content;
	right: 16px;
	padding: 24px;
	background-color: var(--s-grey);
	border-radius: 8px;
	z-index: 20;
}

.menu > ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 24px;
	margin: 0;
}

menu > ul li a {
	text-wrap: nowrap !important;
}

@media screen and (max-width: 768px) {
	header nav > ul {
		display: none;
	}

	header svg {
		display: block;
	}

	.header {
		padding: 12px;
	}
}

@media screen and (max-width: 540px) {
	.header {
		padding: 8px 4px;
	}
}
