.section {
	max-width: 880px;
	margin: 0 auto;
	padding: 80px 16px;
}

@media screen and (max-width: 768px) {
	.section {
		padding: 60px 12px;
	}
}

@media screen and (max-width: 540px) {
	.section {
		padding: 60px 4px;
	}
}
