@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

:root {
	--yellow: #f4ce14;
	--green: #495e57;
	--green-25: rgb(73, 94, 87, 0.25);
	--green-15: rgb(73, 94, 87, 0.15);
	--s-black: #333333;
	--s-grey: #edefee;
	--s-peach: #fbdabb;
	--s-orange: #ee9972;
	--color-grey-2: #c2c2c2;
	--karla: "Karla", sans-serif;
	--markazi: "Markazi Text", serif;
}

.paragraph__text {
	font-family: var(--karla);
	font-weight: 400;
	line-height: 1.5;
	font-size: 16px;
}

.display {
	font-family: var(--markazi);
	font-weight: 500;
	font-size: 64px;
}

.sub__title {
	font-family: var(--markazi);
	font-weight: 400;
	font-size: 40px;
}

.lead__text {
	font-family: var(--karla);
	font-weight: 600;
	font-size: 18px;
}

.card__title {
	font-family: var(--karla);
	font-weight: 700;
	font-size: 18px;
}

.highlight__text {
	font-family: var(--karla);
	font-weight: 500;
	font-size: 16px;
}

.shadow {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.button {
	font-family: var(--karla);
	font-weight: bold;
	background-color: var(--yellow);
	transition: all 0.2s ease-in-out;
	border: none;
	outline: none;
	color: var(--s-black);
}

.button:hover {
	background-color: var(--s-peach);
	color: var(--green);
	cursor: pointer;
}

.button__large {
	font-size: 18px;
	color: var(--s-black);
	padding: 16px 48px;
	border-radius: 8px;
}

.button__small {
	font-size: 12px;
	padding: 8px 24px;
	border-radius: 10px;
}

@media screen and (max-width: 768px) {
	.button__large {
		padding: 14px 40px;
		font-size: 16px;
	}

	.highlight__text {
		font-size: 14px;
	}

	.paragraph__text {
		font-size: 14px;
	}

	.card__title {
		font-size: 16px;
	}

	.lead__text {
		font-size: 16px;
	}

	.sub__title {
		font-size: 36px;
	}

	.display {
		font-size: 56px;
	}
}
@media screen and (max-width: 540px) {
	.button__large {
		padding: 12px 32px;
		font-size: 14px;
	}

	.highlight__text {
		font-size: 12px;
	}

	.paragraph__text {
		font-size: 12px;
	}

	.card__title {
		font-size: 14px;
	}

	.lead__text {
		font-size: 14px;
	}

	.sub__title {
		font-size: 30px;
	}

	.display {
		font-size: 48px;
	}
}
